<form [formGroup]="addBlogForm" (ngSubmit)="onSubmit()">
  <div class="blog-input">
    <div>
      <button
        class="submit-button"
        mat-raised-button
        color="primary"
        [disabled]="submitButtonDisabled()"
      >
        {{ "addBlogComponent.publishBlog" | translate }}
      </button>

      <button type="reset" mat-raised-button color="secondary">
        {{ "addBlogComponent.reset" | translate }}
      </button>
    </div>
    <mat-form-field appearance="fill">
      <mat-label for="title">{{
        "addBlogComponent.title" | translate
      }}</mat-label>
      <input matInput formControlName="title" />
      <mat-error>
        @if (addBlogForm.get("title")?.hasError("required")) {
          <span>{{ "addBlogComponent.matError.noTitle" | translate }}</span>
        } @else if (addBlogForm.get("title")?.hasError("minLength")) {
          <span>{{ "addBlogComponent.matError.minlength" | translate }}</span>
        } @else if (addBlogForm.get("title")?.hasError("pattern")) {
          <span>{{ "addBlogComponent.matError.pattern" | translate }}</span>
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="content">{{
        "addBlogComponent.formfield.label" | translate
      }}</mat-label>
      <textarea matInput rows="20" formControlName="content"></textarea>
      <mat-error>
        @if (addBlogForm.get("content")?.hasError("required")) {
          <span>{{
            "addBlogComponent.formfield.matError.required" | translate
          }}</span>
        } @else if (addBlogForm.get("content")?.hasError("minlength")) {
          <span>{{
            "addBlogComponent.formfield.matError.minlength" | translate
          }}</span>
        }
      </mat-error>
    </mat-form-field>
  </div>
</form>
