<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Startseite</a>
      <a mat-list-item routerLink="/blog">Blogs</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Meronsblog</span>
    </mat-toolbar>

    <div class="content">
      @if (router.url === "/") {
        <div class="welcome">
          <h1>Willkommen zu Meronsblog</h1>
        </div>
      } @else {
        <router-outlet></router-outlet>
      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
